@import "page-common.css";


main .banner img {
    width: 100%;
}

main .wrap {
    margin: 50px 0;
    text-align: center;
    padding: 30px 50px;
    border: 3px solid #475370;
    border-radius: 20px;
}
main .wrap1 {
    margin-top: 0;
    border-top: none;
    padding-top: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
main .wrap1 h2{
    margin-bottom: 15px;
    text-align: left;
}
main .wrap1 p {
    text-align: left;
}
main .wrap2 {
    position: relative;
    display: flex;
    height: 200px;
    justify-content: space-around;
}
main .wrap h2 {
    font-size: 25px;
    margin: 15px 0;
    text-align: left;
}

main .wrap2:before {
    position: absolute;
    content: '';
    width: 3px;
    height: 100px;
    top: 50px;
    left: 50%;
    background: #475370;
}
main .wrap2>div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


main .wrap3  {
    padding: 50px 30px;
    max-height: 650px;
}
main .wrap3  .table {
    margin-bottom: 0;
}
main .wrap3  .table td {
}
main .wrap3 td {
    border-top: none!important;
}
main .wrap3 thead tr,
main .wrap3 tbody tr:nth-child(2n) {
    background: var(--mainBgColorLight);
}
main .wrap3 tbody tr:nth-child(2n-1) {
    background: var(--mainBgColorDeep);
}

@media (max-width: 992px) {
    main .wrap {
        padding: 30px 20px;
    }
    main .wrap2 {
        justify-content: space-between;
    }
    main .wrap2 p{
        font-size: 14px;
    }
    main .wrap2 h2 {
        font-size: 16px;
    }
}