
:root {
    --mainColor: #b01e2b;
    --mainBgColorDeep: #29304a;
    --mainBgColorLight: #38415e;
    --mainTxtColorDeep: #b9c5c5;
    --mainTxtColorLight: #f5f5f5;
}
.ries {
    color: #2ab97e!important;
}
.fall {
    color: #d83242!important;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 10px;  
    height: 10px;  
    border-radius: 50%;
    background-color: #38415e;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #38415e;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #596174;  
} 


.navbar {
    background-color: var(--mainBgColorDeep);
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:active {
    color: var(--mainTxtColorDeep);
    line-height: 40px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: var(--mainTxtColorLight);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: var(--mainBgColorDeep);
    /*color: var(--mainTxtColorDeep);*/
    color: var(--mainTxtColorLight);
}
.navbar .dropdown-menu {
    background: var(--mainBgColorLight);

}
.navbar .dropdown-menu > li > a {
    line-height: 30px;
    color: var(--mainTxtColorDeep);
}
.navbar .dropdown-menu > li > a:hover {
    background: var(--mainBgColorDeep);
    color: var(--mainTxtColorLight);
}
.navbar .navbar-brand {
    padding: 0 0 0 15px;
}
.navbar .navbar-brand img {
    padding-top: 15px;
    /*height: 50px;*/
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}
footer a,footer p {
    margin: 0;
    /*display: block;*/
    font-size: 14px;
    line-height: 25px;
    color: var(--mainTxtColorDeep);
}
footer a {
    display: inline-block;
}
footer .logo {
    text-align: center;
}
footer img {
    margin: 10px 0;
}
footer hr {
    border-color: var(--mainBgColorLight);
}
footer .partner {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    overflow: hidden;

}
footer .partner img {
    height: 25px;
}
footer .copyright {
    margin: 10px 0 30px;
}
footer .copyright p {
    font-size: 12px;
    color: #656d81;
    padding-left: 30px;
}
@media (max-width: 996px) {
    .table td {
        font-size: 13px;
    }
    footer {
        /*margin-top: -50px;*/
    }
    footer .copyright p {
        padding-left: 0;
    }

}
@media (max-width: 768px) {
    .navbar .navbar-brand img {
        padding-top: 7px;
    }

}