body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #3E4A67 0%, #263048 500px, #263048 100%);
    color: var(--mainTxtColorDeep);
}
main {
    width: 1000px;
    margin: 0 auto 100px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    main {
        width: 992px;
    }
}
@media (max-width: 992px) {
    main {
        width: 768px;
    }
}
@media (max-width: 768px) {
    main {
        width: 95vw;
    }
}