body {
    background: var(--mainBgColorDeep); 
    color: var(--mainTxtColorDeep);
}
p {
    font-size: 16px;
    line-height: 30px;
}
a.btn-default {
    padding: 0;
    height: 40px;
    line-height: 40px;
    border: none;

    width: 200px;
    color: var(--mainTxtColorLight);
    background: var(--mainColor);
}
section {
    padding: 60px 0;
}

@keyframes leftAnimation{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes rightAnimation{
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

@keyframes leftWave{
    0%   {background-position: 0%}
    100% {background-position: 100%}
}
@keyframes rightWave{
    0%   {background-position: 100%}
    100% {background-position: 0%}
}
@keyframes mrotate{
    0%   {transform:  rotate(0deg) scale(1)}
    25%   {transform: rotate(3deg) scale(0.98)}
    50%   {transform: rotate(0deg) scale(1)}
    75%   {transform: rotate(-3deg) scale(1.02)}
    100% {transform:  rotate(0deg) scale(1)}
}

.wave{
    position: relative;
}
.wave:after {
    position: absolute;
    content: '';
    height: 268px;
    width: 100%;
    left: 0;
    bottom: -120px;
    background: url(../img/wave1.png) center center no-repeat;
    animation: leftWave 10s linear infinite alternate;
}
.wave:before {
    position: absolute;
    content: '';
    height: 268px;
    width: 100%;
    left: 0;
    bottom: -100px;
    background: url(../img/wave2.png) center center no-repeat;
    animation: rightWave 10s linear infinite alternate;
}


.banner {
    position: relative;
    background-image: linear-gradient(to bottom, var(--mainBgColorLight) 0%, var(--mainBgColorDeep) 100%);
    padding:0;
    height: 850px;

    max-width: 100vw;
    overflow: hidden;
}
.banner .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 700px;
}
.banner .container:before {
    position: absolute;
    content: '';
    width: 554px;
    height: 560px;
    right: 0;
    background: url(../img/banner-bg.png) center center no-repeat;
    animation: mrotate 10s linear infinite alternate;
}
.banner .text-wrap {
    display: flex;
    flex-flow: column wrap;
    max-width: 520px;
    color: var(--mainTxtColorLight) ;
    z-index: 9;
}
.allocation {
    padding: 0;
    margin-top: -150px;
}

.allocation .text-wrap:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100px;
    left: 0;
    top: 0;
    background: var(--mainTxtColorDeep);
}
.allocation .text-wrap {
    margin: 15px 0;
    padding-left: 20px;
    position: relative;
}

.allocation p {
    font-size: 12px;

}
.allocation a {
    font-size: 22px;
    color: var(--mainTxtColorDeep);
}
.allocation a:hover {
    text-decoration: none;
}



.real-time-data .nav-tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #58607c;
}
.real-time-data .nav-tabs > li {
    width: 80%;
    text-align: center;
}
.real-time-data .nav-tabs > li.active {
    border-bottom: 2px solid var(--mainTxtColorLight);
}
.real-time-data .nav-tabs > li > a,  
.real-time-data .nav-tabs > li> a:hover, 
.real-time-data .nav-tabs > li > a:focus{
    background: none;
    border: none;
    color: var(--mainTxtColorDeep);
    font-size: 16px;
}
.real-time-data .nav-tabs > li.active > a,  
.real-time-data .nav-tabs > li.active> a:hover, 
.real-time-data .nav-tabs > li.active > a:focus {
    background: none;
    border: none;
    color: var(--mainTxtColorLight);
    font-size: 16px;
}

.real-time-data .table-responsive{
    border: none;
}
.real-time-data .table{
    border-collapse: separate; 
    border-spacing: 0 20px;
}
.real-time-data .table th{
    border: none;
    line-height: 26px;
}
.real-time-data .table td {
    border: none;
    line-height: 40px;
}
/*.real-time-data thead tr,
.real-time-data tbody tr:nth-child(2n) {
    background: var(--mainBgColorLight);
}
.real-time-data tbody tr:nth-child(2n-1) {
    background: var(--mainBgColorDeep);
}*/

.real-time-data tbody tr {
    position: relative;
    background: var(--mainBgColorLight);
}
.real-time-data .list-head {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 30px;
    
}
.coin-list li {
    position: relative;
    list-style-type: none;
    margin: 8px 0;
    padding: 0 20px;
    background: #212842;
    border-radius: 10px; 
    transition: all 0.2s;
    
}
.coin-list li:hover{
    
    transform: scale(1.03);
    background: #1a213a;
    padding-left: 30px;
    /*padding:0 5px;*/
}
.coin-list li a{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
    padding: 15px 0;
               
}
.coin-list li a:hover {
    text-decoration: none;
}

.coin-list li .column1 img{
    position: absolute;
    margin-right: 5px;
    top: 12px;
    left: 15px;
    width: 24px;
    transition: all 0.2s;
}
.real-time-data p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 20px;
    color: #b9c5c5;
}
.real-time-data .column1, 
.real-time-data .column2, 
.real-time-data .column3, 
.real-time-data .column4, 
.real-time-data .column5, 
.real-time-data .column6{
    width: 15%;
    text-align: right;
}
.real-time-data .column1 {
    text-align: left;
    padding-left: 30px;
}
.real-time-data .column6 {
    text-align: right;
    width: 10%;
}

.secure .text-wrap {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.secure .img-wrap {
    position: relative;
    min-height: 520px;
    text-align: center;
    background: url(../img/secure-bg.png) center center no-repeat;
}
.secure .img-wrap figure {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;

}
.secure .img-wrap figure  img {
    -webkit-animation: rightAnimation 60s linear infinite;
    -o-animation: rightAnimation 60s linear infinite;
    animation: rightAnimation 60s linear infinite;
}
.secure .img-wrap figure:before {
    position: absolute;
    content: '';
    top: 90px;
    left: 90px;
    width: 340px;
    height: 340px;
    background: url(../img/secure01.png);

    -webkit-animation: leftAnimation 60s linear infinite;
    -o-animation: leftAnimation 60s linear infinite;
    animation: leftAnimation 60s linear infinite;
}
.secure .img-wrap figure:after {
    position: absolute;
    content: '';
    top: 66px;
    left: 66px;
    width: 387px;
    height: 387px;
    background: url(../img/secure02.png);
}



.platform {
    padding: 0;
}
.platform .container {
    display: flex;
    align-items: center;
    padding: 60px 0;
    min-height: 480px;
    background: url(../img/platform-bg.png) right center no-repeat;
}
.platform .text-wrap {
    max-width: 850px;
    padding-left: 15px;
    padding-right: 15px;
}


.advantage .item-wrap {
    margin: 15px 0;
    text-align: center;
    padding:20px 15px;
    background: var(--mainBgColorLight);
    height: 380px;
}
.advantage .item-wrap:hover {
    background: url(../img/advantage-hover.png) center center no-repeat;
    background-size: cover;
}
.advantage .item-wrap img {
    margin:40px 0;
}
.advantage .item-wrap h4 {
    font-size: 25px;
    margin-bottom: 15px;
    color: var(--mainTxtColorLight);
}

.server-center {
    padding-top: 0;
    width: 100%;
    height: 820px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: url(../img/server-bg.jpg) center center no-repeat;
}
.server-center h1 {
    margin-bottom: 20px;
    font-size: 50px;
    letter-spacing: 5px;
}
.server-center p {
    font-size: 22px;
    letter-spacing: 2px;
}

.notice h1 span {
    font-size: 16px;
    position: relative;
    top: 4px;
    letter-spacing: 1px;
}

.notice .nav-tabs {
    position: relative;
    top: -50px;
    border: none;
}
.notice .nav-tabs a {
    width: 150px;
}

.notice .nav-tabs > li > a,  
.notice .nav-tabs > li> a:hover, 
.notice .nav-tabs > li > a:focus{
    background: none;
    border: none;
    color: var(--mainTxtColorDeep);
    font-size: 16px;
}
.notice .nav-tabs > li.active > a,  
.notice .nav-tabs > li.active> a:hover, 
.notice .nav-tabs > li.active > a:focus {
    background: none;
    border: none;
    color: var(--mainTxtColorLight);
    font-size: 16px;
}

@media (min-width: 1560px) {
    .container {
        width: 1530px;
    }
    .platform .text-wrap {
        max-width: 850px;
    }
}
@media (min-width: 1366px) and (max-width: 1560px) {
    .container {
        width: 1280px;
    }
    .platform .text-wrap {
        max-width: 750px;
    }
}
@media (min-width: 1200px) and (max-width: 1366px){
    .container {
        width: 1080px;
    }
    .platform .text-wrap {
        max-width: 650px;
    }
}


@media (max-width: 1366px) {
    .platform .container {
        background-size: auto 360px;
    }
}

@media (max-width: 1200px){
    .table-responsive {
        border: 1px solid #3d4864;
    }
    .platform .text-wrap {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .platform .container {
        background: none;
    }
}


@media (max-width: 996px){
    .table-responsive {
        border: 1px solid #3d4864;
    }

    .banner .container:before {

        right: 0;
        left: 0;
        top: 10px;
        margin: 0 auto;
        opacity: 1;
    }
    .banner .text-wrap {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        max-width: 100%;
        text-align: center;
    }
    .banner .text-wrap a {
        display: inline-block;
        margin: 0 auto;
    }

    h1 {
        font-size: 26px;
        line-height: 45px;
    }
    p {
        font-size: 15px;
    }
    a.btn-default {
        display: inline-block;
        margin-top: 30px;
    }
    .secure {
        padding: 0;
    }
    .server-center {
        /*width: 100%;*/
        padding: 0;
        height: 400px;
        /*background: url(../img/server-bg.jpg) center bottom no-repeat;*/
        background-size: cover;
    }
    .server-center h1 {
        margin-bottom: 20px;
        font-size: 45px;
        letter-spacing: 5px;
    }
    .server-center p {
        font-size: 22px;
        letter-spacing: 2px;
    }
    .notice {
        padding-bottom: 0;
    }
    .notice h1  {
        margin-bottom: 50px;
    }
    .notice .nav-tabs {
        top: -30px;
    }
    .notice .nav-tabs a {
        width: 100px;
    }
    .advantage .item-wrap {
        padding: 20px 10px;
        height: 280px;
        border-radius: 10px;
    }

    .advantage .item-wrap img {
        width: 70px;
        margin: 15px 0 0;
    }
    .advantage .item-wrap h4 {
        font-size: 18px;
    }
    .advantage .item-wrap p {
        line-height: 22px;
        font-size: 14px;
        text-align: left;
    }
    .real-time-data .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .real-time-data .nav-tabs {
        margin-left: 15px;
        margin-right: 15px;
    }
    .real-time-data .column4, 
    .real-time-data .column5, 
    .real-time-data .column6 {
        display: none;
    }
    .real-time-data .column1 {
        width: 40%!important;
    }
    .real-time-data .column2 {
        /*text-align: center!important;*/
        width: 38%!important;
    }
    .real-time-data .list-head .column2 {
        text-align: center!important;
    }
    .real-time-data .column3 {
        width: 20%!important;
    }

}
@media (max-width: 768px){
    .table-responsive {
        border: 1px solid #3d4864;
    }
    .banner {
        height:750px;
    }
    .banner .container  {
        height: 600px;
    }
    .banner .container:before {
        width: 80vw;
        height: 80vw;
        background-size: cover;
        background-size: 80vw;
    }
    .server-center h1 {
        font-size: 30px;
    }
    h1 {
        font-size: 20px;
        line-height: 40px;
    }
    p {
        font-size: 14px;
        line-height: 30px;
    }

}
