* {
	margin: 0;
	padding: 0;
}
/*body {
	background: #222;
	font-family: Georgia, serif;
	color: #fff;
	font-size: 14px;
}*/

.timeline a {
	color: #b9c5c5;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.timeline  a:hover,
.timeline  a.selected {
	color: #f5f5f5;
}

.timeline h1,.timeline h2, .timeline h4,.timeline h5,.timeline h6 {
	text-align: center;
	color: #ccc;
	/*text-shadow: #000 1px 1px 2px;*/
	margin-bottom: 5px;
}

.sociales {
	text-align: center;
	margin-bottom: 20px;
}

.timeline {
	width: 100%;
	/*height: 350px;*/
	overflow: hidden;
	margin: 100px auto;
	position: relative;
	background: url('../img/dot.png') left 45px repeat-x;
}
.dates {
	width: 750px;
	height: 60px;
	overflow: hidden;
}
.dates li {
	list-style: none;
	float: left;
	width: 260px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	background: url('../img/biggerdot.png') center bottom no-repeat;
}
.dates a {
	line-height: 38px;
	padding-bottom: 10px;
}
.dates .selected {
	font-size: 38px;
}

.issues {
	width: 500px;
	/*float: right;*/
	/*height: 350px;*/
	/*overflow: hidden;*/
}	
.issues li {
	width: 500px;
	list-style: none;
	float: left;
	
}
.issues .text-wrap {
	margin: 30px;
	padding: 25px;
	background: var(--mainBgColorLight);
	/*max-height: 350px;*/
	height: auto;
	border-radius: 20px;
	overflow: hidden;
	
}
.issues li h1 {
	color: #f5f5f5;
	font-size: 18px;
	margin: 15px 0;
	padding-bottom: 10px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.issues li p {
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
}


.next,
.prev {
	position: absolute;
	font-size: 26px;
	top: 0;
	background-repeat: no-repeat;
}

.next {
	right: 0;
}
.prev {
	left: 0;
}
.next.disabled,
.prev.disabled {
	opacity: 0.2;
}


@media screen and (max-width: 996px) {
	.issues li h1 {
		font-size: 16px;
		line-height: 30px;
	}
}
@media screen and (max-width: 768px) {

	.dates li {
		width: 30vw;
	}
	.issues {
		width: 90vw;
	}	
	.issues li {
		width: 90vw;
	}

}
@media (min-width: 768px) and (max-width: 996px) {
	.dates li {
		width: 250px;
	}
	.issues {
		width: 360px;
	}	
	.issues li {
		width: 360px;
	}
}
@media (min-width: 996px) and (max-width: 1200px) {
	.dates li {
		width: 30vw;
	}
	.issues {
		width: 470px;
	}	
	.issues li {
		width: 470px;
	}
}
@media (min-width: 1200px) and (max-width: 1366px) {
	.dates li {
		width: 250px;
	}
	.issues {
		width: 350px;
	}	
	.issues li {
		width: 350px;
	}
}
@media (min-width: 1366px) and (max-width: 1560px) {
	.dates li {
		width: 350px;
	}
	.issues {
		width: 416px;
	}	
	.issues li {
		width: 416px;
	}
}